/*
select{
    propriété : valeur;
}
*/

h1{
    color:rgb(231, 61, 14);
}

body{
    background: rgb(255, 111, 59);
    font-family: "American Typewriter", 'Courier New', Courier, monospace;
}

h2{
    color: rgb(254, 180, 188);
    /* font-family: 'Franklin Gothic Medium'; */
}

.wrap{
    background: rgb(129, 127, 255);
    width: 1000px;
    margin:auto
}